body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(46, 16, 85);
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    border: 1px solid black;
}
/*------------------------------------------------------*/
.header {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    border: 1px solid black;
    background-color: rgb(34, 8, 26);
    align-items: center;
    justify-content: center;
    color: white;
}
.logo {
    font-size: 56px;
    padding: 20px;
    text-align: center;
}
.login {
    grid-column: 3 / 3;
    background-color: rgb(51, 51, 51);
    border-radius: 15px;
    color: white;
    border: none;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    font-size: 26px;

}
/*------------------------------------------------------*/
.mainContainer {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    
    
}
.addBook{
    display: grid;
    background-color: rgb(51, 51, 51);
    border-radius: 15px;
    color: white;
    border: none;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    font-size: 26px;
    margin: 20px;
}
/*------------------------------------------------------*/
.libraryGrid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    
}
.bookCard {
    padding: 30px;
    border: 1px solid black;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    color: white;
    font-weight: 500;
}
.readButton, .removeButton {
    background-color: rgb(51, 51, 51);
    border-radius: 15px;
    color: white;
    border: none;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    font-size: 16px;
    margin: 20px;
}
/*------------------------------------------------------*/
.inputForm{
    display: none;
}
.addingBooks {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 20%;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    background-color: rgb(51, 51, 51);
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    gap: 20px;
}
.input {
    margin-top: 25%;
    margin-bottom: 25%;
    border: 1px solid black;
    background-color: rgb(65, 65, 65);
    border-radius: 15px;
    padding: 25px;
    font-size: 18px;
}
.readVerify {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.submit {
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.errorMessage {
    color: red;
    font-size: 16px;
    font-weight: 700;
    display: none;
}




.footer {
    grid-row: 7 / 10;
    border: 1px solid black;
    background-color: rgb(34, 8, 26);
    text-align: center;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

